
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

@*Slider*@
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="/anime-main/img/one-piece.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Macera</div>
                            <h2>One Piece</h2>
                            <p>Denizlerde Geçen Uçsuz Bucaksız Macera</p>
                            <a href="#"><span>Şimdi İzle</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="/anime-main/img/death-note.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Gizem</div>
                            <h2>Death Note</h2>
                            <p>Bir Defterin Ardında Yatan Gizem</p>
                            <a href="#"><span>Şimdi İzle</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="/anime-main/img/dragon-ball.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Macera</div>
                            <h2>Dragon Ball</h2>
                            <p>Maceraya ve Savaşa Hazır Mısın?</p>
                            <a href="#"><span>Şimdi İzle</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <br />

<section class="product spad">
    <div class="container">
        <div class="row">
          
            @await Component.InvokeAsync("_LastEpisodes");

           @* @await Component.InvokeAsync("_CategoryList"); *@

         </div>
    </div>
</section>


