@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<br />

<br />

<div class="container">
    <h2 style="color:white;">Tavsiye Robotu</h2>
    <form class="row">

        <div class="col-auto">
            <input type="text" class="form-control" id="inputPassword2" placeholder="Kategori">
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="inputPassword2" placeholder="Yıl giriniz">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Ara</button>
        </div>
    </form>
    <div style="height:700px;">
    </div>

</div>


