@model EntityLayer.Category
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<br />
<script src="~/anime-main/js/jquery-3.3.1.min.js"></script>
<style>
    .form-control {
        width: 152px;
    }

    .nice-select {
        padding-bottom: 0px;
        padding-top: 0px;
    }
</style>
<br />

<div class="container">
    <h2 style="color:white;">Tavsiye Robotu</h2><br />
    <form class="row">
        <div class="col-auto">

            @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.categoryValue,"Kategori Giriniz",
            new {@id="categories",@class="form-control"})
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="year" placeholder="Yıl giriniz">
        </div>
        <div class="col-auto">
            <button type="button" id="btn" class="btn btn-primary mb-3">Ara</button>
        </div>
    </form>

    <div class="row" id="veriler">
       @* @*<div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">
                <a href=>
                    <div class="product__item__pic set-bg" data-setbg="/">
                    </div>
                </a>
                <div class="product__item__text">
                    <h5><a href="#"</a>One Piece</h5>
                </div>
            </div>
        </div>*@
    </div>

    <script>
                
        $('#btn').click(function () {
            
            let secilen = $('#categories').val();
            let yil = $('#year').val();
                        
            $.ajax({
                url: '/RecomRobot/Index/',
                type: 'POST',
                data: {
                    kategori: secilen,
                    year: yil
                },
                success: function (data) {

                    let div = "<div>"
                    let w = jQuery.parseJSON(data);
                    $.each(w,(index,value)) => {
                        div += `<div class="col-lg-4 col-md-6 col-sm-6"><div class="product__item">
                                               <div class="product__item__text"><h5><a href="#"</a>One Piece</h5>
                                                       </div></div>`
                    });
                    div += "</div>";    
                    $('#veriler').html(div);
                }
            });
        })
            
    </script>

</div>







