@model EntityLayer.DTO.AnimesDetailEpisode


@{
    ViewData["Title"] = "AnimeWatching";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/Anime/AnimeList/">Animeler</a>
                    <a href="/Anime/AnimeDetail/@Model.AnimeId">@Model.AnimeName</a>
                    <span>@Model.EpisodeName</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="anime-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="anime__video__player">
                    <video id="player" playsinline controls data-poster="/anime-main/videos/anime-watch.jpg">
                        <source src="@Model.Source" type="video/mp4" />
                        <track kind="captions" label="English captions" src="#" srclang="en" default />
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>


@*Episode Comments Olarak Ayrılıcak*@
@await Component.InvokeAsync("_EpisodeComments",new {id=ViewBag.i});
