@using EntityLayer.DTO
@model List<LastEpisodesModel>


<div class="col-lg-10">
    <div class="trending__product">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="section-title">
                    <h4>Son Çıkanlar</h4>
                </div>
            </div>
        </div>
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="@item.ImageUrl">
                            <div class="comment"><i class="fa fa-comments"></i> 11</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        </div>
                        <div class="product__item__text">
                            <h5><a href="/Anime/AnimeWatching/@item.EpisodeId">@item.AnimeName @item.EpisodeName</a></h5>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
