@using EntityLayer.DTO
@model List<AnimeCategoryModel>
<li><span>Tür:</span>
@foreach (var item in Model)
    {
        <button disabled class="btn btn-outline-light">@item.CategoryName</button>
    }    
</li>
